# Build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# Windows/macOS/Linux
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Большие ассеты — заливай отдельно если нужно
# assets/images/